.VideoPage {
    background-color: black;
    min-height: 100vh; /* Ensures the background covers the full viewport height */
    color: white; /* Optional: Sets the text color to white for better contrast */
  }
  